# Server & Runtime Port
PORT=3000

# Cloud SQL PostgreSQL Connection (Provided by runtime in Cloud Run)
SQL_HOST=
SQL_DB_NAME=
SQL_USER=
SQL_PASSWORD=
SQL_ADMIN_USER=
SQL_ADMIN_PASSWORD=

# Google Maps API Key (Optional for high-res map tiles / Street View)
VITE_GOOGLE_MAPS_API_KEY=
